.carouselpage {
    position: relative;
    overflow: hidden;
  }
  .carousel {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 60px;
  }
  .carouselbutton {
    background-color: rgb(2, 59, 50);
    border-radius: 10px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    margin: 4px 0px;
    cursor: pointer;
    margin-right: 2rem;
  }
  .showcards {
    position: absolute;
    right: 5px;
    top: 50px;
    background-color: rgb(17, 128, 128);
    border: none;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    margin: 4px 0px;
    cursor: pointer;
  }
  .carouselCaption {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: rgb(5, 5, 5);
    position: relative;
    display: flex;
    justify-content: center;
    left: 5px;
  }